In [1]:
import pandas as pd
import numpy as np

In [5]:
xi = [3, 5, 1]
xj = [2, 1, 2]
dist = round(np.linalg.norm(np.asarray(xi) - np.asarray(xj), ord=None), 2)
print(f"Distância Euclidiana: {dist}")

Distância Euclidiana: 4.24

In [6]:
dataset = pd.DataFrame(data={
    "atributo1": [2,4,6,7],
    "atributo2": [3,5,7,5],
    "Centroides": ["c1", "c1", "c2", "c2"]
})
dataset

   atributo1  atributo2 Centroides
0          2          3         c1
1          4          5         c1
2          6          7         c2
3          7          5         c2

In [7]:
# centroides calculados
dataset.groupby(by='Centroides').mean().reset_index()

  Centroides  atributo1  atributo2
0         c1        3.0        4.0
1         c2        6.5        6.0